<ion-header>
  <ion-navbar>
    <ion-title>{{'common.settings' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{'settings.language' | translate}}</ion-label>
      <ion-select [(ngModel)]="settings.user.languageId" (ionChange)="onSettingsChange()">
        <ion-option *ngFor="let language of settings.options.languages" [value]="language.id">
          {{language.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>{{'settings.measureSystem' | translate}}</ion-label>
        <ion-select [(ngModel)]="settings.user.systemId" (ionChange)="onSettingsChange()" >
          <ion-option *ngFor="let system of settings.options.measuringSystem" [value]="system.id">
            {{system.name}}
          </ion-option>
        </ion-select>
      </ion-item>
  </ion-list>

  <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]="city_name"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="itemClicked(item)">
      {{ item.name }}
    </ion-item>
  </ion-list>
</ion-content>