.home{
    background: color($colors, primary);
    color: color($colors, light);
}

.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-icon{
    color: #ccc;
}

.temp{
    font-size: 60px;
    text-align: center;
    font-weight: normal;  
    width: 100%;
}
  
.location{
    text-align: center;
}

.weather-icon {
    display: inline-flex;
    margin: 0 auto;
    img{
        height: 50px;
    }
    h3{
        margin-left:3px; 
    }
}
.location{ 
    font-size: 40px;
}

.desc {
    width: 50%;
    padding-top: 15px;

    h3 {
        font-size: 20px;
        margin-bottom: 0px;
    }
}

.icon{
    text-align: center;
}